
<!-- BEGIN USF -->
{%- capture headerHTML -%}
{% if collection.description != blank %}
        <div class="collection-main-banner"> 
          {%- if settings.language_enable -%}
            <div class="lang1">
              {%- assign content_lg1 = collection.description | split: '[lang2]' | first -%}
              {{content_lg1}}
            </div>
            <div class="lang2">
              {%- assign content_lg2 = collection.description | split: '[lang2]' | last -%}
              {{content_lg2}} 
            </div>
          {%- else -%}
            {%- assign content_lg = collection.description | split: '[lang2]' | first -%}
            {{content_lg}}
          {%- endif -%} 
        </div>
        {% endif %}
{%- endcapture -%}

{% capture default_grid %}
{%- paginate collection.products by 24 -%}
        <div id="collection-main">
          <div class="toolbar top_toolbar">
            {% include 'collection-sorting' %}
          </div>
          {%- assign view_mode = settings.collection_view_mode -%} 
	      {%- assign view_mode_class = view_mode -%}
          {%- case settings.collection_view_mode -%}
            {%- when 'divider' -%} 
              {%- assign view_mode_class = 'grid divider-line' -%}  
          {%- when 'list' -%} 
              {%- assign view_mode_class = 'grid' -%} 
          {%- endcase -%} 
          
          {%- assign layout_class = 'product-' | append:settings.product_layout  -%}
          {%- assign pt_layout = settings.product_layout  -%}
          {%- case settings.product_layout -%}
          {%- when 'onhover' -%}
          {%- assign layout_class = 'product-default show-links-hover' -%} 
          {%- when 'outimage_aq_onimage' -%}
          {%- assign layout_class = 'product-outimage_aq_onimage' -%} 
          {%- when 'outimage_aq_onimage2' -%}
          {%- assign layout_class = 'product-outimage_aq_onimage with-padding' -%}  
          {%- when 'quantity' -%}
          {%- assign layout_class = 'product-wq_onimage' -%} 
          {%- endcase -%} 
          {%- if view_mode == 'list' -%}
          {%- assign layout_class = 'product-default' -%} 
          {%- endif -%} 
          {%- case settings.collection_aspect_ratio -%}
          {%- when '1' -%}
            {%- assign image_width = settings.collection_ratio_width -%}
            {%- assign image_height = '' -%}
            {%- assign ar = 1 -%}
          {%- else -%}
            {%- assign image_width = settings.collection_ratio_width -%}
            {%- assign image_height = settings.collection_ratio_height -%}
            {%- if image_width < image_height -%}
              {%- assign ar = image_width | divided_by: 1 -%}
            {%- else -%}
              {%- assign ar = image_width | divided_by: image_height -%}
            {%- endif -%}
          {%- endcase -%}
          {%- capture image_size -%}{{ image_width }}x{{ image_height }}{%- endcapture -%}
          {%- assign pt = 100 | divided_by: ar | append: '%' -%}
          {%- assign columns = settings.collection_columns | plus: 0 -%}
          {%- if columns >= 4 -%}
            {%- capture class_grid %}item-1200-{{ columns }} item-992-4 item-768-3 item-640-2 item-320-1{%- endcapture -%}
          {%- endif -%}
            {%- if columns == 3 -%}
          {%- capture class_grid %}item-1200-{{ columns }} item-640-2 item-320-1{%- endcapture -%} 
          {%- endif -%}
          {%- if columns <= 2 -%}
            {%- capture class_grid %}item-1200-{{ columns }}{%- endcapture -%}  
          {%- endif -%}
          <div class="category-products products {{view_mode_class}} {% if view_mode != 'divider' %}products-spacing-{{settings.space_product}}{% endif %}{% if view_mode == 'grid' or view_mode == 'divider' %} {{class_grid}}{% endif %}">
            <div id="products-grid" class="products-grid columns{{columns}}"> 
              {% for product in collection.products %}
              {% include 'pt-product-loop' %}
              {% else %}
              {% if collection.handle == 'all' and current_tags == '' %}
              {% unless emptyState %}
              {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
              {% assign emptyState = true %}
              {% endunless %}
              {% include 'onboarding-empty-collection' %}
              {% else %}
              <div><p>{{ 'collections.general.no_matches' | t }}</p></div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% include 'collection-sorting-bottom' %}
        </div>
{%- endpaginate -%} 
{% endcapture %}

<script>
window._usfSettingGlobal = {
	'headerHTML': {{headerHTML | json}},
  	'collection_aspect_ratio' : {{settings.collection_aspect_ratio | json}},
  	'collection_ratio_width' : {{settings.collection_ratio_width | json}},
  	'collection_ratio_height' : {{settings.collection_ratio_height | json}},
  	'collection_grid_swatch_type'  : {{settings.collection_grid_swatch_type | json}}
}
</script>

{%- if template.suffix != blank -%}
   {%- assign template_suffix = template.suffix -%}
   {%- assign check_template_list = true -%} 
{%- else -%}
   {%- assign check_template_list = false -%} 
{%- endif -%}   
{%- capture collection_link_html -%}{{ 'link' | link_to_remove_tag: '' }}{%- endcapture -%}
{%- assign collection_link = collection_link_html | split:'href="' | last | split:'"' | first -%}  

{% include 'breadcrumb' %}
<div class="product-main">
  <div class="container">
    <div id="usf_container"></div>
  </div>
</div>
<!-- END USF -->

{% comment %}USF
{% section 'collection-template-searchly-filter' %}

USF{% endcomment %}
