
<!-- BEGIN USF -->
<script>
window._usfSettingGlobal = {
	'headerHTML': {{headerHTML | json}},
  	'collection_aspect_ratio' : {{settings.collection_aspect_ratio | json}},
  	'collection_ratio_width' : {{settings.collection_ratio_width | json}},
  	'collection_ratio_height' : {{settings.collection_ratio_height | json}},
  	'collection_grid_swatch_type'  : {{settings.collection_grid_swatch_type | json}}
}
</script>

{%- if template.suffix != blank -%}
   {%- assign template_suffix = template.suffix -%}
   {%- assign check_template_list = true -%} 
{%- else -%}
   {%- assign check_template_list = false -%} 
{%- endif -%}   
{%- capture collection_link_html -%}{{ 'link' | link_to_remove_tag: '' }}{%- endcapture -%}
{%- assign collection_link = collection_link_html | split:'href="' | last | split:'"' | first -%}  

{% include 'breadcrumb' %}
<div id="collection-main">
  <div class="container">
    <div id="usf_container"></div>
  </div>
</div>

<!-- END USF -->

{% comment %}USF
{% section 'search-template-searchly-filter' %}

USF{% endcomment %}
